doctype html
link(rel='stylesheet' href='/css/student2.css')
head.top

    title Under Water Basket weaver (Masters) - Landon Quaintance
body.top
    h1 Landon Quaintance
    h2#Head Under Water Basket Weaving Masters Program

    section#section3
        h3#Box-center Edit Comment
        form(action=`/update-comment/student2/${comment.id}`, method="POST")
            textarea(name="content", required) #{comment.content}
            div.button-container
                button.update-comment(type="submit") Update Comment
                button.update-comment(type="button" class="cancel-button" onclick="window.location.href='/student2'") Cancel 
