doctype html
head
    link(rel='stylesheet' href='css/student2.css')
    title Under Water Basket weaver (Masters) - Landon Quaintance
body
    h1 Landon Quaintance
    h2#Head Under Water Basket Weaving Masters Program
