doctype html
link(rel='stylesheet' href='css/student2.css')

head#background
    title Under Water Basket weaver (Masters) - Landon Quaintance
body#background
    h1 Landon Quaintance
    h2#Head Under Water Basket Weaving Masters Program
    section 
        div#section1
            h2#Center Location
            p 
                | The Under Water Basket Weaving Masters Program is located at the bottom of the 
                | Mariana Trench. The Mariana Trench is the deepest part of the ocean, allowing for 
                | the greatest possible water pressure to help students learn the art of underwater basket weaving.
                | This location allows for the best possible learning environment for the students. This program is 
                | located in a small shack at the bottom of the trench and students are required to swim down each day.
    section 
        div#section2
            h2#Center About
            section 
                h3 Instructors 
                p 
                    | The Under Water Basket Weaving Masters Program has the best instructors in the world. 
                    | Each instructor has at least 10 years of experience in underwater basket weaving. 
                    | The instructors have all been trained in the art of underwater basket weaving and have 
                    | been certified by the Under Water Basket Weaving Association.
            section 
                h3 Curriculum
                p 
                    | The Under Water Basket Weaving Masters Program has a rigorous curriculum that is designed 
                    | to teach students the art of underwater basket weaving. The curriculum includes courses in 
                    | basket weaving, underwater basket weaving, and advanced underwater basket weaving. 
                    | Students will also learn about the history of underwater basket weaving and the different 
                    | techniques that are used in the art.
            section 
                h3 Facilities
                p 
                    | The Under Water Basket Weaving Masters Program has state of the art facilities that are 
                    | designed to help students learn the art of underwater basket weaving. The facilities include 
                    | a large pool that is used for practice, as well as a classroom that is equipped with the latest 
                    | technology. The facilities also include a library that is stocked with books on underwater basket 
                    | weaving and other related topics. All of these are located in the small shack at the bottom of the trench.
    section
        div#section3
            h2#Center Things To Do
            p Students in the Under Water Basket Weaving Masters Program have access to the followng actvities:
            ul 
                li Swimming in the Mariana Trench
                li Exploring the ocean floor
                li Learning about marine life
                li Practicing underwater basket weaving
    section 
        div#image
            div#container
                h2#Center Images of Our Program
                img#first(src='img/basketweaving_1.jpeg' alt='Basket Weaving 1')
                img#second(src='img/basketweaving_2.jpeg' alt='Basket Weaving 2')

    section#comments
        h2#Center Comments
        if comments && comments.length > 0
            ul.list
                each comment in comments
                    li.list
                        div
                            p= comment.content
                        // Buttons (outside the bubble, below the comment)
                        div
                            form(action=`/delete-comment/student2/${comment.id}`, method="POST")
                                button.edit-comment(type="submit" class="delete-button") Delete
                            form(action=`/comment/${comment.id}`, method="GET")
                                button.edit-comment(type="submit" class="edit-button") Edit
    section#Center
            p
                form#Center.styled-text-field(action='/student2' method="POST")
                    textarea(name="content" placeholder="Add your comment here..." required)
                    button.add-comment(type="submit") Add Comment
    section#Center
        p 
            button.add-comment(type="button" onclick="window.location.href='/whole-comment-list'") All Comments


