doctype html
link(rel='stylesheet' href='/css/student2.css')
html
    head.top
        title All Comments - Basket Weaving 
    body.top
        h1 Landon Quaintance
        h2#Head All Comments

        // Display All Comments Section
        section#Box-center
                if comments && comments.length > 0
                    ul.list
                    each comment in comments
                        li.list
                            div
                                p= comment.content
                        // Buttons (outside the bubble, below the comment)
                        div
                            form#Center.styled-text-field(action=`/delete-comment/student2/${comment.id}`, method="POST")
                                button.edit-comment(type="submit" class="delete-button") Delete
                            form#Center.styled-text-field(action=`/comment/${comment.id}`, method="GET")
                                button.edit-comment(type="submit" class="edit-button") Edit
                else
                    p No comments yet.

        // Button to go back to Basket Weaving Major
        section#Box-center
            a(href='/student2')
                button(type="button") Back to Basket Weaving Major
