doctype html
html
  head
    title All Comments - Basket Weaving 
    link(rel='stylesheet' href='/css/student2.css')
  body
    h1 Landon Quaintance
    h2 All Comments
    
    // Display All Comments Section
    section
      if comments && comments.length > 0
        ul#comments-list
          each comment in comments
            li.comment-item
              div.comment-bubble
                p= comment.content
              // Buttons (outside the bubble, below the comment)
              div.button-container
                form(action=`/delete-comment/${comment.id}`, method="POST")
                  button(type="submit" class="delete-button") Delete
                form(action=`/comment/${comment.id}`, method="GET")
                  button(type="submit" class="edit-button") Edit
      else
        p No comments yet.

    // Button to go back to Basket Weaving Major
    section
      a(href='/student2')
        button(type="button") Back to Basket Weaving Major
