doctype html
html
  head
    title Party - student1
    link(rel='stylesheet' href='css/student1.css')
  body
    h1 Andy Lopez-Martinez

    h2 Party Major
    
    // Section 1: Location
    section
      h2 Location
      p The university is located in the heart of the city of Ibiza, surrounded by vibrant nightlife and an abundance of parties. Whether it's a festival or just a Friday night out, students are never short on things to do!

    // Section 2: About
    section
      h2 About
      section
        h3 Major Overview
        p The Party Major is designed for those who want to take their love of fun to the next level. Students will study the science of social events, party planning, and crowd management.
      section
        h3 What You'll Learn
        p Students will learn about event management, hospitality, and how to manage large crowds in high-energy environments.
      section
        h3 Career Opportunities
        p Graduates will be prepared for careers as event planners, party coordinators, club promoters, and even luxury concierge.

    // Section 3: Things to Do
    section
      h2 Things To Do
      ul
        li Organize an annual university-wide party
        li Host a weekend festival with live music, food trucks, and games
        li Design themed parties for clubs, bars, and private events
        li Plan surprise celebrations for birthdays, weddings, and other occasions
    
    // Add Images
    section
      h2 Images
      img(src='img/party_1.jpg', alt='Epic Party Scene')
      img(src='img/party_2.jpg', alt='Crowd at a Party')

    // Display Comments Section
    section

    h2 Comments
      if comments && comments.length > 0
        ul
          each comment in comments
            li
              p= comment.content
              // Delete Comment Form
              form(action=`/delete-comment/${comment.id}`, method="POST")
                button(type="submit") Delete
              // Edit Comment Link
              form(action=`/edit-comment/${comment.id}`, method="GET")
                button(type="submit") Edit

        //Left blank on purpose, no comment to display
      else
        p

    // Form to add a new comment
    form(id="comment-form", action='/student1', method="POST")
        textarea(name="content", placeholder="Add your comment here..." required)
        button(type="submit") Add Comment
